<% if @latest_commit %>
	<%= commit_partial(@latest_commit, 'Latest Commit') %>
<% end %>

<table border="0" class="filelist">
	<tr>
		<th class="f">Name</th>
		<th class="s">Size</th>
		<th class="m">Message</th>
	</tr>
	<% @entities.each do |e| %>
		<tr>
			<td>
				<% if e.dir? %>
					<img src="/images/icons/folder.gif" alt="Folder" width="16" height="16" />
				<% else %>
					<img src="/images/icons/file.gif" alt="File" width="16" height="16" />
				<% end %>
				<a href="<%=url(:repo_path, :repo_path => e.path) %>"><%= e.name %><%= e.dir? ? '/' : ''%></a>
			</td>
			<td class="s"><%= e.size ? size_text(e.size) : '-' %></td>
			<td>
				<div class="fr revision <%= 'latest' if e.commit == @latest_commit %>"><%= e.commit.revision.truncate(7, '') %></div>
				<%= e.commit.message.truncate(85) %>
			</td>
		</tr>
	<% end %>
</table>