<% if @latest_commit %>
	<%= commit_partial(@latest_commit, 'Latest Commit') %>
<% end %>

<div class="wrap prev-entries">
	<div>
		<ul>
			<% if current_repository.branches.size > 1 || current_entity.branch != current_repository.default_branch %>
				<li>branches: <%= select :browser_branches, collect_branch_options %></li>
			<% end %>
			<% if current_path == '' %>
				<li><a href="<%=url(:commits) %>">history</a></li>
			<% else %>
				<li><a href="<%=url(:commits_path) %>">history</a></li>
			<% end %>
		</ul>
	</div>
	<h2>Source: &nbsp;/ <%= breadcrumb %></h2>
</div>
<div class="box">
<table border="0" class="filelist">
	<tr>
		<th class="f">Name</th>
		<th class="s">Size</th>
		<th class="m">Message</th>
	</tr>
	<% @entities.each do |e| %>
		<tr>
			<td>
				<% if e.dir? %>
					<img src="/images/icons/folder.gif" alt="Folder" width="16" height="16" />
				<% else %>
					<img src="/images/icons/file.gif" alt="File" width="16" height="16" />
				<% end %>
				<a href="<%=url(:repo_path, :repo_path => e.path) %>"><%= e.name %><%= e.dir? ? '/' : ''%></a>
			</td>
			<td class="s"><%= e.size ? size_text(e.size) : '-' %></td>
			<td>
				<div class="fr revision <%= 'latest' if e.commit == @latest_commit %>"><%= e.commit.revision.truncate(7, '') %></div>
				<%= e.commit.message.truncate(85) %>
			</td>
		</tr>
	<% end %>
</table>
</div>